/* Título principal */
.header {
    text-align: center;
    padding: 20px;
    background-color: #FADADD;
}

.header h1 {
    font-size: 3rem;
    color: #9168ea; /* Letras moradas */
}

.menu {
    background-color: #e2e0e0; /* Color plomo */
    padding: 15px;
}

.menu ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    position: relative;
}

.menu ul li {
    margin: 0 20px;
    position: relative;
}

.menu ul li a {
    text-decoration: none;
    color: rgb(7, 7, 7);
    font-weight: bold;
}

.menu ul li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #A9A9A9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; /* Se coloca debajo del menú principal */
}

.menu ul li .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.menu ul li .dropdown-content a:hover {
    background-color: #5a5a5a;
}

.menu ul li:hover .dropdown-content {
    display: block;
}

/* Sección de contactos */
.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 150px); /* Ajuste de altura */
    background-color: rgba(0, 0, 0, 0); /* Fondo semi-transparente sobre el texto de fondo */
    padding: 20px;
}

/* Título de la sección de contactos */
.contact-section h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: rgb(21, 21, 21);
}

/* Estilo de los iconos de redes sociales */
.social-icons {
    display: flex;
    gap: 30px;
}

.social-icons a {
    display: inline-block;
    text-decoration: none;
}

.social-icons img.icon {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

/* Efecto hover en los iconos */
.social-icons a:hover img.icon {
    transform: scale(1.2); /* Ampliar el tamaño del icono al hacer hover */
}
